@model DailyDolce.Web.Dtos.Cart.CartDto

<form method="post">
    <br />
    <input asp-for="Id" hidden />
    <input asp-for="UserId" hidden />

    <div class="">
        <div class="card border mt-4 container">
            <div class="card-header bg-dark text-light ml-0 row ">
                <div class="col-6">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    Shopping Cart
                </div>
                <div class="col-6 text-end">
                    <a class="btn btn-outline-warning btn-sm"
                       asp-action="Index"
                       asp-controller="Home">Continue Shopping</a>
                </div>
            </div>

            @if (Model.CartProductsDto != null && Model.CartProductsDto.Count() > 0) {
                <div class="card-body">
                    <div class=" d-none d-lg-block">
                        <div class="row text-info">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg-5">
                                Product Details
                            </div>
                            <div class="col-lg-2">
                                Price
                            </div>
                            <div class="col-lg-2">
                                Count
                            </div>
                            <div class="col-lg-1">
                            </div>
                        </div>
                    </div>

                    <hr />
                    @foreach (var cartProductDto in Model.CartProductsDto) {
                        <div class="row h-100">
                            <div class="col-4 col-md-2 text-center py-2">
                                <img src="@cartProductDto.Product.ImageUrl" class="rounded" width="100%" />
                            </div>
                            <div class="col-8 col-md-5">
                                <h5>@cartProductDto.Product.Name</h5>
                                <div style="font-size:11px;">@Html.Raw(cartProductDto.Product.Description)</div>
                            </div>
                            <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                                <span style="font-size:17px;"> @cartProductDto.Product.Price.ToString("c")</span>
                            </div>
                            <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                                <span style="font-size:17px;"> @cartProductDto.Quantity</span>
                            </div>
                            <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                <a class="btn btn-outline-danger"
                           asp-action="RemoveFromCart"
                           asp-route-cartProductId=@cartProductDto.Id>
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        <hr />
                    }
                    <div class="row">
                        <div class="col-6">
                            @if (string.IsNullOrEmpty(Model.CouponCode)) {
                                <span>Coupon:</span>
                                <input asp-for="CouponCode" />
                                <button type="submit"
                                class="btn btn-success"
                                asp-action="ApplyCoupon"
                                >
                                    Apply
                                </button>
                            } else {
                                <span>Coupon:</span>
                                <input asp-for="CouponCode" disabled />
                                <button type="submit"
                                class="btn btn-danger"
                                asp-action="RemoveCoupon"
                                >
                                    Remove
                                </button>
                            }
                        </div>
                        <div class="col-6 text-end">
                            <span class="text-danger" style="font-size:21px;">  Order Total : @Model.TotalOrder.ToString("c") <br /></span>
                            @if(Model.Discount > 0){
                                <span class="text-success">Order Discount: @Model.Discount.ToString("c")</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer row">
                    <div class="col-6 col-md-3 offset-md-6">
                    </div>
                    <div class="col-6 col-md-3">
                        <a class="btn btn-success form-control"
                       asp-action="Checkout">
                            <span>Checkout</span>
                        </a>
                    </div>
                </div>
            } else {
                <div>No products in the cart</div>
            }
        </div>
    </div>
</form>
